<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/xxxxjavascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div align="center" style="border:2px solid yellowgreen;padding:20px;max-width:600px;">
		<img src="http://img.wemep.co.kr/dealimg/201305/99324/0745ea86b8dac5559ee2a0903d1d9fc1b7f7ed7d.jpg" style="max-width:100%;height:auto;"><br /><br />
		<h2 align="center">짝 게스트하우스입니다</h2>
		<p>저희 애정촌에 신청해주신걸 감사드립니다.<br />
		 ${name} 님은 ${date}에 저희 애정촌에 ${nick}로 참가하게 되셨습니다.<br />
		입금이 확인되는대로 애정촌 입소가 확정되며, 확정상태는 입소신청 페이지에서 확인하실 수 있습니다.<br />
		그럼 저희 애정촌에서의 아름다운 추억을 기대해주세요.<br /><br />
		계좌번호 : 우리은행 531-123456-02-101,  X만원<br /></p>
	</div>
</body>
</html>