/* body {
	margin: 40px 10px;
	padding: 0;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
}
 */
#calendar {
	/* max-width: 900px; */
	margin: 0 auto;
	/* margin-top: 20px; */
}

/*	이벤트 색깔 */
.fc-event {
	background: #005aff36;
	border-color: #005aff36;
}
/*	행사 글씨 */
.fc-title {
	color: red;
}
/*	날짜 호버효과 */
.fc-day:hover {
	background: #CEF6F5;
}
/*	행사 호버효과 */
.fc-event-container:hover {
	cursor: pointer;
}
/* 모달창 수정버튼 */
#mBtn{
	display: none;
}
.center {
    margin-top:50px;   
}

.modal-header {
	padding-bottom: 5px;
}

.modal-footer {
    	padding: 0;
	}
    
.modal-footer .btn-group button {
	height:40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
	
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}