figure {
	border: 1px solid black;
	display:inline-block;
}
figure img {
	width:105px;
	height:105px;
	border-bottom:1px solid black;
	cursor:pointer;
}
figcaption {
	cursor:pointer;
}
#choiceClear {
	text-align:center;
	margin-top:30px;
}

svg {
	width:520px;
	height:760px;'
}
line {
	stroke-linecap:round;
	stroke-width:12px;
	mix-blend-mode: screen;
}
g {
	isolation: isolate;
}
.mLine {
	stroke:DeepSkyBlue;
}
.fLine {
	stroke:tomato;
}
.mCircle {
	fill:DeepSkyBlue;
}
.fCircle {
	fill:tomato;
}
