figure {
	border: 1px solid black;
	display:inline-block;
}
figure img {
	width:105px;
	height:105px;
	border-bottom:1px solid black;
	cursor:pointer;
}
figcaption {
	cursor:pointer;
}

svg {
	width:520px;
	height:760px;'
}
line {
	stroke:DarkOrange;
	stroke-width:12px;
	/* mix-blend-mode: screen; */
}
.ldHrz {
	stroke-linecap:round;
}
.ldVrt {
	stroke-linecap:butt;
}
g {
	isolation: isolate;
}




















